@import "../../styles.scss";

form {
  @extend %card;
}
  
.input-group {
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
}
  
label {
    display: block;
    margin-bottom: 0.25rem;
}
  
input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid rgb(166, 166, 166);
    border-radius: 0.25rem;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 1rem;
    &:hover {
      @extend %hover;
    }
    &:focus {
      @extend %focus-active;
    }
}
  
button {
    width: 30%;
    padding: 0.5rem;
    border: 1px solid grey;
    border-radius: 0.25rem;
    background-color: transparent;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    margin: 25px 15px 0px auto;
    &:hover {
      @extend %hover;
    }
    &:active {
      @extend %focus-active;
    }
}

.button-box {
  text-align: center;
}